<FlexboxLayout class="page">
	<StackLayout class="columna">
		<Image class="logo" src="~/images/IsotipoBlanco.png"></Image>
		<Image class="logo" src="~/images/FlechaGris.png"></Image>
	</StackLayout>
    <StackLayout class="form">
		<StackLayout class="input-field">
			<TextField class="input" hint="Correo electronico" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email"
			 returnKeyType="next" (returnPress)="focusPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" hint="Contraseña" secure="true" [(ngModel)]="user.password" [returnKeyType]="isLoggingIn ? 'done' : 'next'"
			 (returnPress)="focusConfirmPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #confirmPassword class="input" hint="Confirma tu contraseña" secure="true" [(ngModel)]="user.confirmPassword"
			 returnKeyType="done"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="isLoggingIn ? 'INICIAR SESIÓN' : 'Registrar'" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<Label *ngIf="isLoggingIn" text="Olvidaste tu contraseña?" class="login-label" (tap)="forgotPassword()"></Label>
	
        <Label class="login-label1" (tap)="toggleForm()">
            <FormattedString>
                <Span [text]="isLoggingIn ? 'Eres nuevo en Facinema?' : 'Back to Login'"></Span>
            </FormattedString>
        </Label>
        <Label class="login-label" (tap)="toggleForm()">
            <FormattedString>
                <Span [text]="isLoggingIn ? 'REGISTRATE' : ''" class="bold"></Span>
            </FormattedString>
        </Label>
	</StackLayout>
</FlexboxLayout>