<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="~/images/logo1.jpg"></Image>
		<Label class="header" text="MOVIE TV"></Label>

		<StackLayout class="input-field">
			<Label text="Te sientes mal cuando  "></Label>
			<Label text="descansas demasiado o no"></Label>
			<Label text="haces nada."></Label>
		</StackLayout>
		'
		<Button text="Si" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<Button text="No" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
	</StackLayout>
	<Progress [value]="100" maxValue="100"></Progress>
</FlexboxLayout>