/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.horizontal{
    display: inline;
}

Page{
    background-image: url('~/images/fondo1.jpg');
    background-size: 1500px 2500px;
}

.logo{
    width: 600px;
}

.page {
    align-items: center;
    flex-direction: column;
  }

  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  .input-field{
      color: white;
  }

  .lbl-blanco{
    color: white;
  }

  .lbl-blanco2{
    color: white;
  }

  .btn-morado {
    height: 50;
    margin: 30 35 15 35;
    background-color: #7E57C2;
    border-radius: 5;
    font-size: 18;
    font-weight: 500;
    color: white;
  }

  .btn-azul{
    height: 50;
    margin: 30 35 15 35;
    background-color: rgb(94, 4, 250);
    border-radius: 5;
    font-size: 12;
    font-weight: 500;
    color: white;
  }