<Page xmlns="http://schemas.nativescript.org/tns.xsd"  class="page" loaded="loaded">
              
	<StackLayout class="form">
	<FlexboxLayout class="horizontal">
		<Button text="Iniciar Seción" class="link" tap="login"></Button>
		<Label class="lbl"  ></Label>
	</FlexboxLayout>
		
	   <Image class="logo" src="~/images/LogoBlanco.png"></Image>
		
		<StackLayout class="input-field">
			<TextField class="input" hint="Usuario" text="{{nombre}}" id="nombre" autocorrect="false" returnKeyType="next" ></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>
		<StackLayout class="input-field">
			<TextField class="input" hint="Año de nacimiento" text="{{edad}}" id="edad" autocorrect="false" returnKeyType="next" ></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>
		<StackLayout class="input-field">
			<TextField class="input" hint="Correo electrónico" text="{{mail}}" id="mail" autocorrect="false" returnKeyType="next" ></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>
		<StackLayout class="input-field">
		   <TextField class="input" hint="Contraseña" text="{{password}}" secure="true" id="password" autocorrect="false" returnKeyType="next" ></TextField>
			<StackLayout class="hr-light"></StackLayout>
	   </StackLayout>
		<Button text='REGISTRARSE' class="btn-morado" tap="signup"></Button>
		<Button text='Registrarse con Facebook' class="btn-azul"></Button>
   </StackLayout>
	
</Page>