<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="~/images/logo1.jpg"></Image>
		<Label class="header" text="MOVIE TV"></Label>

		<StackLayout class="input-field">
			<Label text="Mientras tu descansas continúas"></Label>
			<Label text="pensando en tus problemas"></Label>
			<Label text="de carácter laboral y personal."></Label>
		</StackLayout>
		
		<Button text="Si" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<Button text="No" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
	</StackLayout>
	<Progress [value]="10" maxValue="100"></Progress>
</FlexboxLayout>