<ActionBar title="Mi Lista" class="action-bar"></ActionBar>
<ScrollView class="page">
	<StackLayout class="form">
		<StackLayout orientation="horizontal">
			<Image class="image" src="~/images/avengers.jpg"></Image>
			<StackLayout>
				<Label text="Avengers"></Label>
				<Label text="Avengers................................................................" textWrap="true"></Label>
			</StackLayout>
		</StackLayout>

		<StackLayout orientation="horizontal">
			<Image class="image" src="~/images/babyboss.jpg"></Image>
			<StackLayout>
				<Label text="Boss Baby"></Label>
				<Label text="Boss Baby................................................................" textWrap="true"></Label>
			</StackLayout>
		</StackLayout>

		<StackLayout orientation="horizontal">
			<Image class="image" src="~/images/bajolamismaestrella.jpg"></Image>
			<StackLayout>
				<Label text="Bajo la misma Estrella"></Label>
				<Label text="Bajo la misma Estrella................................................................" textWrap="true"></Label>
			</StackLayout>
		</StackLayout>

		<StackLayout orientation="horizontal">
			<Image class="image" src="~/images/lavidaesbella.jpg"></Image>
			<StackLayout>
				<Label text="Avengers"></Label>
				<Label text="Avengers................................................................" textWrap="true"></Label>
			</StackLayout>
		</StackLayout>
	</StackLayout>
</ScrollView>